<h1><%= @merchant.name %>'s Bulk Discounts</h1>
<p><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %></p>

<ul>
  <% @merchant.bulk_discounts.each do |bulk_discount| %>
    <li class="bulk-discount-info-<%= bulk_discount.id %>">
      <h3>Discount Name: <%= bulk_discount.name %></h3>
      <h3>Percentage Discount: <%= number_to_percentage(bulk_discount.percent_discount, precision: 0) %></h3>
      <h3>Item Quantity Threshold: <%= bulk_discount.item_threshold %></h3>
      <h3>Bulk Discount #<%= link_to "#{bulk_discount.id}", merchant_bulk_discount_path(@merchant, bulk_discount) %> </h3>
      <h3><%= link_to "Delete Bulk Discount", merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete %> </h3>
      <hr>
    </li>
  <% end %>
</ul>
<h2>Upcoming Holidays</h2>
<ul>
  <% @public_holidays.each do |public_holiday| %>
    <li>Holiday: <%= public_holiday.local_name %></li>
    <li>Date: <%= public_holiday.date %></li>
  <% end %>
</ul>
